<div class="rbt-video-area bg-color-white rbt-section-gap" id="career">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <div class="video-popup-wrapper">
                    <img class="w-100 rbt-radius" [src]="nosotros_1" alt="Video Images">
                    <a class="rbt-btn rounded-player popup-video position-to-top" target="_blank" href="https://www.youtube.com/watch?v=c8uX6xZ9NJM">
                        <span><i class="feather-play"></i></span>
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="inner pl--50 pl_lg--0 pl_md--0 pl_sm--0">
                    <div class="section-title text-start">
                        <h5 class="title mb-3 text-primary">Empresa Prestadora de Servicios - Rioja</h5>
                        <h4 class="title">Misión</h4>
                        <p class="mb_md--10 mb_sm--10">Brindar los servicios de agua potable con calidad y continuidad que la población demanda, así como el tratamiento de las aguas residuales manteniendo el equilibrio ecológico de los recursos hídricos.</p>
                        <h4 class="title">Visión</h4>
                        <p class="mb_md--10 mb_sm--10">Contar con una moderna y eficiente infraestructura para abastecer de agua potable y crear mejores condiciones de saneamiento en la población de Rioja.</p>
                        <div class="view-all-button">
                            <a class="rbt-btn btn-border hover-icon-reverse" href="#" onclick="return false;">
                                <span class="icon-reverse-wrapper">
                                    <span class="btn-text">Ver más Información</span>
                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>