 <!-- Start Blog Style -->
 <div class="rbt-rbt-blog-area  bg-color-white" id="blog">
    <div class="container">
        <div class="row g-5 align-items-end mb--30">
            <div class="col-lg-6 col-md-12 col-12">
                <div class="section-title text-start">
                    <h2 class="title">Ultimas Noticias</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-12">
                <div class="load-more-btn text-start text-lg-end">
                    <a class="rbt-btn-link" href="#" onclick="return false;">Ver más noticias<i class="feather-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <!-- Start Card Area -->
        <div class="row g-5 mt--30">
            <!-- Start Single Card  -->
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt--30">
                <div class="rbt-card variation-02 rbt-hover">
                    <div class="rbt-card-img">
                        <a href="#" onclick="return false;">
                            <img [src]="noticia_1" alt="Card image"> </a>
                    </div>
                    <div class="rbt-card-body">
                        <h5 class="rbt-card-title fs-2"><a href="#" onclick="return false;">Comunicado 🌳💦</a></h5>
                        <p class="rbt-card-text fs-4">En el marco de las acciones de la ejecución del componente de recuperación de cobertura vegetal del Mecanismos de Retribución por Servicios Ecosistémicos Hídrico (MERESE H) en naciente de Río Negro, el día de ayer se realizó una faena de trabajo en conjunto con BPAM SERNANP y los beneficiarios, para implementar el vivero de producción de especies agroforestales nativas...</p>
                        <div class="rbt-card-bottom">
                            <a class="transparent-button" href="#" onclick="return false;">Leer más<i><svg width="17" height="12" xmlns="http://www.w3.org/2000/svg"><g stroke="#27374D" fill="none" fill-rule="evenodd"><path d="M10.614 0l5.629 5.629-5.63 5.629"/><path stroke-linecap="square" d="M.663 5.572h14.594"/></g></svg></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Card  -->

            <!-- Start Single Card  -->
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt--30">
                <div class="rbt-card variation-02 rbt-hover">
                    <div class="rbt-card-img">
                        <a href="#" onclick="return false;">
                            <img [src]="noticia_2" alt="Card image"> </a>
                    </div>
                    <div class="rbt-card-body">
                        <h5 class="rbt-card-title fs-2"><a href="#" onclick="return false;">Comunicado</a></h5>
                        <p class="rbt-card-text fs-4">Se informa a la comunidad riojana que se viene ejecutando un plan de acción para el mantenimiento de las válvulas de aire de la línea de conducción.</p>
                        <div class="rbt-card-bottom">
                            <a class="transparent-button" href="#" onclick="return false;">Leer más<i><svg width="17" height="12" xmlns="http://www.w3.org/2000/svg"><g stroke="#27374D" fill="none" fill-rule="evenodd"><path d="M10.614 0l5.629 5.629-5.63 5.629"/><path stroke-linecap="square" d="M.663 5.572h14.594"/></g></svg></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Card  -->

            <!-- Start Single Card  -->
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt--30">
                <div class="rbt-card variation-02 rbt-hover">
                    <div class="rbt-card-img">
                        <a href="#" onclick="return false;">
                            <img [src]="noticia_3" alt="Card image"> </a>
                    </div>
                    <div class="rbt-card-body">
                        <h5 class="rbt-card-title fs-2"><a href="#" onclick="return false;">Comunicado.</a></h5>
                        <p class="rbt-card-text fs-4">El día martes 26 de setiembre se interrumpirá el servicio de agua potable de 2:30 am a 5:00 pm, dicha restricción se debe a los trabajos que viene realizando la empresa COIRH en la construcción de una cuneta. El sector afectado será el barrio Atahualpa y el Jr Teobaldo López c-14 y c-15.</p>
                        <div class="rbt-card-bottom">
                            <a class="transparent-button" href="#" onclick="return false;">Leer más<i><svg width="17" height="12" xmlns="http://www.w3.org/2000/svg"><g stroke="#27374D" fill="none" fill-rule="evenodd"><path d="M10.614 0l5.629 5.629-5.63 5.629"/><path stroke-linecap="square" d="M.663 5.572h14.594"/></g></svg></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Card  -->
        </div>
        <!-- End Card Area -->
    </div>
</div>
<!-- End Blog Style -->