<!-- End Side Vav -->
<a class="close_side_menu" href="javascript:void(0);"></a>

<div class="rbt-slider-main-wrapper position-relative">
    <!-- Start Banner Area  -->
    <div class="swiper rbt-banner-activation rbt-slider-animation rbt-arrow-between">
        <div class="swiper-wrapper">
            <!-- Start Single Banner  -->
            <div class="swiper-slide">
                <div class="rbt-banner-area rbt-banner-6 variation-03 bg_image" [style]="{ 'background-image': 'url('+slider_1+')'}">
                    <div class="wrapper w-100">
                        <div class="container w-100 d-md-none">
                            <br><br><br><br><br><br><br><br><br><br>
                        </div>

                        <div class="container w-100 d-none d-md-block">
                            <br><br><br><br>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Banner  -->

            <!-- Start Single Banner  -->
            <div class="swiper-slide">
                <div class="rbt-banner-area rbt-banner-6 variation-03 bg_image" [style]="{ 'background-image': 'url('+slider_2+')'}">
                    <div class="wrapper">
                        <div class="container w-100 d-md-none">
                            <br><br><br><br><br><br><br><br><br><br>
                        </div>

                        <div class="container w-100 d-none d-md-block">
                            <br><br><br><br>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Banner  -->

            <!-- Start Single Banner  -->
            <div class="swiper-slide">
                <div class="rbt-banner-area rbt-banner-6 variation-03 bg_image" [style]="{ 'background-image': 'url('+slider_3+')'}">
                    <div class="wrapper w-100">
                        <div class="container w-100 d-md-none">
                            <br><br><br><br><br><br><br><br><br><br>
                        </div>

                        <div class="container w-100 d-none d-md-block">
                            <br><br><br><br>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Banner  -->

        </div>

        <div class="rbt-swiper-arrow rbt-arrow-left">
            <div class="custom-overfolow">
                <i class="rbt-icon feather-arrow-left"></i>
                <i class="rbt-icon-top feather-arrow-left"></i>
            </div>
        </div>

        <div class="rbt-swiper-arrow rbt-arrow-right">
            <div class="custom-overfolow">
                <i class="rbt-icon feather-arrow-right"></i>
                <i class="rbt-icon-top feather-arrow-right"></i>
            </div>
        </div>

    </div>

    <div class="swiper rbt-swiper-thumb rbtmySwiperThumb">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img [src]="slider_1" alt="Banner Images" />
            </div>
            <div class="swiper-slide">
                <img [src]="slider_2" alt="Banner Images" />
            </div>
            <div class="swiper-slide">
                <img [src]="slider_3" alt="Banner Images" />
            </div>
        </div>
    </div>
    <!-- End Banner Area  -->
</div>