<div class="rbt-testimonial-area bg-color-white rbt-section-gap overflow-hidden" id="testimonial">
        <div class="container">
            <div class="row align-items-end mb--60">
                <div class="col-lg-6 col-md-6">
                    <div class="section-title text-start">
                        <h2 class="title">Nuestros Socios</h2>
                        <p class="description fs-2x mt--10">Nuestros socios para brindarte el mejor servicio</p>
                    </div>
                </div>
            </div>
            <div class="row align-items-center row--30">
                <div class="col-lg-6">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade active show" id="testimonial-tab1" role="tabpanel" aria-labelledby="testimonial-tab1-tab">
                            <div class="inner">
                                <p class="fs-2">Nuestros Socios se dedica a brindar un servicio de agua de alta calidad a nuestros clientes y comunidades.</p>
                                <p class="fs-2">
                                    Nos comprometemos a garantizar que el suministro de agua sea confiable, seguro y accesible para todos. Nuestra misión es proporcionar agua limpia y saludable para satisfacer las necesidades de nuestros usuarios, al mismo tiempo que cuidamos y protegemos el medio ambiente. Trabajamos en estrecha colaboración con aliados estratégicos y reguladores para garantizar que nuestro servicio cumpla con los más altos estándares de calidad y sostenibilidad. En Nuestros Socios, nos enorgullece servir a nuestras comunidades y contribuir al bienestar de todos.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt_md--30 mt_sm--30">
                    <ul class="testimonial-thumb-wrapper nav nav-tabs" id="myTab" role="tablist">
                        <li>
                            <a class="active" href="https://www.ana.gob.pe/contenido/la-autoridad-nacional-del-agua" target="_blank">
                                <div class="testimonial-thumbnai">
                                    <div class="thumb">
                                        <img [src]="socio_1" alt="Testimonial Images">
                                    </div>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a class="active" href="https://www.gob.pe/vivienda " target="_blank">
                                <div class="testimonial-thumbnai">
                                    <div class="thumb">
                                        <img [src]="socio_2" alt="Testimonial Images">
                                    </div>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a class="active" href="https://web.otass.gob.pe/" target="_blank">
                                <div class="testimonial-thumbnai">
                                    <div class="thumb">
                                        <img [src]="socio_3" alt="Testimonial Images">
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="active" href="https://www.gob.pe/" target="_blank">
                                <div class="testimonial-thumbnai">
                                    <div class="thumb">
                                        <img [src]="socio_4" alt="Testimonial Images">
                                    </div>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a class="active" href="https://prod1.seace.gob.pe/portal/" target="_blank">
                                <div class="testimonial-thumbnai">
                                    <div class="thumb">
                                        <img [src]="socio_5" alt="Testimonial Images">
                                    </div>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a class="active" href="http://sernap.gob.bo/" target="_blank">
                                <div class="testimonial-thumbnai">
                                    <div class="thumb">
                                        <img [src]="socio_6" alt="Testimonial Images">
                                    </div>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a class="active" href="https://crhc.ana.gob.pe/mayo/sites/default/files/publicacion/archivos/007_Septimo_folleto_2.pdf" target="_blank">
                                <div class="testimonial-thumbnai">
                                    <div class="thumb">
                                        <img [src]="socio_7" alt="Testimonial Images">
                                    </div>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a class="active" href="https://www.sunass.gob.pe/version-anterior/" target="_blank">
                                <div class="testimonial-thumbnai">
                                    <div class="thumb">
                                        <img [src]="socio_8" alt="Testimonial Images">
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- End Tab Content  -->
                </div>
            </div>
        </div>
    </div>